:root {
  --black: #2e3440;
  --darker-gray: #3b4252;
  --dark-gray: #434c5e;
  --gray: #4c566a;
  --light-gray: #d8dee9;
  --lightest-gray: #e5e9f0;
  --white: #eceff4;

  --teal: #8fbcbb;
  --light-blue: #88c0d0;
  --cornflower: #81a1c1;
  --bue: #5e81ac;
  --reb: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --porpol: #b48ead;
  
  /*NEW TUFF COLORS */
  --blackest: #32302f;
  --greeb: #bdae93;
  --tan: #3c3836;
  --bagel: #ebdbb2;
  --perry: #928374;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  line-height: 1.6;
  background-color: var(--blackest);
  color: var(--perry);
  background: var(--blackest)
}

header {
  background: var(--blackest);
  color: var(--bagel);
  padding: 1rem 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: var(--perry);
  padding: 0.5rem 0;
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
}

.hero {
  background: var(--bagel);
  color: var(--black);
  padding: 4rem 2rem;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card, .card-ai {
  background: var(--perry);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 12px 12px 0px var(--greeb);
  color: var(--blackest);
}
.card:hover, .card-ai:hover {
  box-shadow: -12px -12px 0px var(--greeb);
}
.card, .card-ai {
  transition: box-shadow 0.4s ease;
}

.img {
  padding: 5px;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  object-fit: fill;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: var(--greeb);
  color: var(--bagel);
}